* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ECECEC;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}


.active-link {
  font-weight: bold;
  color:#3498DB;
  text-decoration: underline;
}